<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
          background-image: url("/static/addclass.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
      }
  </style>
    <title>Home Page</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 h-screen font-sans">
    <nav class="bg-white p-6">
      <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center">
          <a href="#" class="font-bold text-xl">Home</a>
        </div>
        <div class="flex items-center">
          <a href="#" class="px-3 py-2 text-gray-800 hover:bg-gray-300">Home</a>
          <a href="#" class="px-3 py-2 text-gray-800 hover:bg-gray-300">Result</a>
          <a href="#" class="px-3 py-2 text-gray-800 hover:bg-gray-300">Edit Information</a>
          <a href="#" class="px-3 py-2 text-gray-800 hover:bg-gray-300">Log Out</a>
        </div>
        <div class="flex items-center">
          <form class="flex items-center">
            <input type="text" class="bg-gray-200 px-3 py-2 rounded-lg text-gray-700 w-64" placeholder="Search">
            <button type="submit" class="bg-gray-300 px-3 py-2 rounded-lg text-gray-700"><a href="/users/search">Search </a></button>
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>
