<!DOCTYPE html>
<html>

<head>
	<title>Input marks</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css"
		integrity="sha512-q3GG3lJ1zjKlG9XruBEEhrZQnlRJtGVEKj53L/bFbG1yOSKTaB/GIzQBLXjA5H5r5v5so5alV7Ku1eWzJ0vJew=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100">
	<div class="container mx-auto py-20">
		<div class="max-w-md mx-auto bg-white p-5 rounded-md shadow-md">
			<h2 class="text-xl font-bold mb-5">Input Mark Section</h2>
			<form class="flex flex-col" action="/users/insertmarks" method="get">
				<label for="dropdown1" class="mb-2 font-bold text-md">Insert Class:</label>

			<div>
                    
                    <select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        name="Class_id">
                        <option value="" selected>Choose a category</option>
                        {{range .Classlist}}
                        <option value="{{.ID}}">{{.Class_name}}</option>
                        {{end}}
                    </select>
                    {{ with (index .FormError "Class_id")}}
                    <p style="color: brown;">{{.}}</p>
                    {{end}}
                </div>
				

				<label for="dropdown2" class="mt-4 mb-2 font-bold text-md">Select Student name:</label>

				<select class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        name="Student_id">
                        <option value="" selected>Choose a category</option>
                        {{range .StudentList}}
                        <option value="{{.ID}}" >{{.FirstName}} {{.LastName}}</option>
                        {{end}}
                    </select>
                    {{ with (index .FormError "Class_id")}}
                    <p style="color: brown;">{{.}}</p>
                    {{end}}
                </div>
                <div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
					<button type="submit" class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
					  Submit
					</button>
				  </div>
				
			</form>
		</div>
	</div>
</body>

</html>