<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      background-image: url("/static/addclass.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
   
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Create SUbject</title>
</head>

<body>
  <div class="flex justify-center mt-8">
    <form class="w-full md:w-1/2 lg:w-1/3" action="/users/storesubject" method="post">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="Subject">
          Subject
        </label>
        <input
          class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="Subject" type="text" placeholder="Enter subject" name="Subject" value="{{.Student.Subject}}">
      </div>

      {{ with (index .FormError "Subject")}}
      <p style="color: brown;">{{.}}</p>
      {{end}}

      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="category">
          select a class
        </label>
        <div class="relative">
          <select
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="Class_id">
            <option value="">Choose a category</option>
            {{range .ClassForm}}
            <option value="{{.ID}}">{{.Class_name}}</option>
            {{end}}
          </select>
          {{ with (index .FormError "Class_id")}}
          <p style="color: brown;">{{.}}</p>
          {{end}}
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path
                d="M14.706 7.706a1 1 0 0 0-1.414-1.414L10 9.586l-3.293-3.294a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l4-4z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">
          Submit
        </button>
      </div>
    </form>
   
  </div>
<div class="container">
 
</div>
</body>

</html>